<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= require('html-loader!./assets/html/partials/header.html') %>

<main role="main" class="">
  <div class="container">
    <h1>Ello' Govna</h1>
  </div>
</main>

<%= require('html-loader!./assets/html/partials/footer.html') %>

</body>
</html>
